*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* GENERIC*/ 
body{
    font-family: 'Open Sans', sans-serif;
}
header{
    height: 80px;
    background-color: white;
    
    position: sticky;
    top: 0;
    left: 0;
}
footer{
    height: 600px;
    background-color: black;
}
h1{
    font-size: 60px;
    font-weight: 800px;
    padding-bottom: 25px;
}
h2{
    font-size: 30px;
    padding: 50px 0;
    font-weight: 700;
}
h3{
    padding: 20px;
}
h4{
    font-size: 20px;
}
h5{
    font-size: 14px;
}
a{
    text-decoration: none;
    color: black;
}
img {
    max-width: 100%;
    display: block;
}
/* UTILITY */ 
.container-large{
    width: 1000px;
    margin: 0 auto;
}
.container-small{
    width: 800px;
    margin: 0 auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}
.mb-30{
    margin-bottom: 30px;
}
.mb-15{
    margin-bottom: 15px;
}
/* HEADER */
.navbar{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar ul{
    display: flex;
    align-items: center;
}
.navbar li{
    list-style-type: none;
    padding: 0 15px;
}
/* BUTTONS */
.button{
    padding: 10px 20px;
    display: inline-block;
}
.btn-small{
    padding: 5px 10px;
}
.secondary{
    background-color: white;
    border: 1px solid gray;
}
.primary{
    background-color: rgb(0,97,255);
    color: white;
}

/* JUMBOTRON */
.jumbotron{
    height: 600px;
    padding-top: 70px;
    background-color: rgb(180,208,231);
}

.col-large{
    /* background-color: blue; */
    flex-basis: 70%; 
}

.col-small{
    /* background-color: pink; */
    flex-basis: 30%;
}

/* MAIN */
main > section {
  padding: 50px 10px;
}
/* BUSINESS PLANE */
.business-plane span{
    padding-right: 20px;
} 
.business-plane span > div {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    line-height: 15px;
    vertical-align: middle;
}
.business-plane span > .month{
    border: 3px solid rgb(16,107,255);
}
.business-plane span > .year{
    border: 1px solid grey;
}
.plane-top {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgb(227,227,229);
}
.plane i{
    padding: 10px 5px;
}
.row .plane{
    border: 1px solid rgb(227,227,229);
    flex-basis: 31%;
    min-height: 300px;
    margin: 30px 0;
    font-size: 13px;
}
.plane-bottom{
    padding: 30px 20px;
}
.plane-bottom > span {
    color: grey;
    display: inline-block;
}
.line {
    padding-bottom: 30px;
    display: inline-block;
    border-bottom: 2px solid rgb(227,227,229);
}
.plane-bottom .row{
    flex-wrap: nowrap;
    align-items: baseline;
} 
.link{
    text-decoration: underline;
    color: rgb(71,50,240);
}
.plane-bottom .stretch{
    text-align: center;
}
.fa-check{
    color: rgb(3,101,255);
}

/* PARTNER */
.container-small > .row {
    justify-content: space-between;
}
.row > .stretch{
    flex-grow: 1;
} 
/* OPERATION */
.card{
    border: 1px dashed red;
    flex-basis: 30%;
    min-height: 300px;

}
/* CLIENTS */
/* COMPANY */
.company{
    margin: 0 -10px;
    display: flex;
    padding-bottom: 0;
}
.block{
    border: 1px dashed black;
    height: 400px;
    flex-basis: calc(100% / 3);
}
.side{
    display: flex;
    flex-wrap: wrap;
}
.square{
    background-color: pink;
    border: 1px dashed violet;
    flex-basis: 50%;
    height: 200px;
}
/* GRATIS TEST */
.gratis-test{
    height: 300px;
    background-color: rgb(180,208,231);
}
.gratis-test > .column{
    justify-content: space-between;
    align-items: center;

}
/* QUESTIONS */
.questions li{
    list-style-type: none;
    border-bottom: 1px solid grey;
    padding: 40px;
}
.questions ul{
    border-top: 1px solid grey;
}
/* FOOTER */
.foot{
    display: flex;
    justify-content: space-between;
    padding: 50px;
}
.foot > .foot-list{
    height: 350px;
    flex-basis: 20%;
    border: 1px dashed red;
}