*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* GENERIC*/ 
body{
    font-family: 'Open Sans', sans-serif;
}
header{
    height: 500px;

    /* background-color: white; */
    border: 1px dashed black;
}
h1, h2, span{
    height: 100px;
    margin-bottom: 30px;
    background-color: blueviolet;
}
/* UTILITY */ 
.container-large{
    width: 1200px;
    margin: 0 auto;
}
.container-small{
    width: 1000px;
    margin: 0 auto;
}
/* HEADER */
.navbar{
    border: 1px dashed black;
    height: 80px;
    
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar .nav-left, .nav-right{
    /* border: 1px dashed black; */
    background-color: orange;
    height: 80px;

    flex-basis: calc(100% / 3);
}
.jumbotron{
    height: 400px;
    padding-top: 30px;

    background-color: rgb(180,208,231);
}
.column{
    display: flex;
    justify-content: center;
}
.column .col-large{
    min-height: 250px ;
    background-color: blue;

    flex-basis: 60%;
}
.column .col-small{
    min-height: 250px ;
    background-color: pink;

    flex-basis: 40%;
}
/* MAIN */
main > section {
  padding: 20px 10px;
}
.container-small > .column {
    gap: 30px;
    margin: 30px 0;
}
.column .plane{
    border: 1px dashed black;
    flex-basis: 40%;
    min-height: 300px;

}
.stretch{
    align-self: stretch;
}