*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* GENERIC*/ 
body{
    font-family: 'Open Sans', sans-serif;
}
header{
    height: 500px;
    margin-bottom: 200px;

    /* background-color: white; */
    /* border: 1px dashed black; */
}
footer{
    height: 600px;
    background-color: black;
}
h1{
    font-size: 60px;
    padding: 20px 0;
}
h2{
    font-size: 30px;
    padding: 40px 0;
    font-weight: 700;
}
h3{
    padding-top: 30px;
}
button{
    padding: 10px 20px;
    font-size: 15px;
    border: none;
    margin: 20px 0;
}
/* UTILITY */ 
.container-large{
    width: 1000px;
    margin: 0 auto;
}
.container-small{
    width: 800px;
    margin: 0 auto;
}
.bg-white{
    background-color: white;
    border: 1px solid gray;
}
.bg-blue{
    background-color: rgb(0,97,255);
    color: white;
}
/* HEADER */
.navbar{
    /* border: 1px dashed black; */
    height: 80px;
    
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-left, .nav-right{
    /* border: 1px dashed black; */
    /* background-color: orange; */
    height: 60px;

    flex-basis: 37%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}
.jumbotron{
    height: 550px;
    padding-top: 30px;

    background-color: rgb(180,208,231);
}
.column{
    display: flex;
    justify-content: center;
    min-height: 250px;
}
.column .col-large{
    /* background-color: blue; */
    
    flex-basis: 70%;
    height: 400px ;
}
.col-large > img {
    width: 90%;
    height: 100%;
    display: inline-block;
}
.column .col-small{
    height: 300px ;
    /* background-color: pink; */
    position: relative;

    flex-basis: 30%;
    font-size: 15px;
}
.col-small > i {
    position: absolute;
    bottom: 0;
    left: 0;
}
/* MAIN */
main > section {
  padding: 20px 10px;
}
/* BUSINESS PLANE */
.business-plane span{
    padding: 30px 20px 30px 0;
}
.business-plane span > div {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    line-height: 15px;
    vertical-align: middle;
}
.business-plane span > .month{
    border: 3px solid rgb(16,107,255);
}
.business-plane span > .year{
    border: 1px solid grey;
}
/* PARTNER */
.partner p {
  padding: 20px 0;
}
.container-small > .row {
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
}
.row .plane{
    border: 1px dashed black;
    flex-basis: 30%;
    min-height: 300px;

}
.row > .stretch{
    flex-grow: 1;
}
/* OPERATION */
.card{
    border: 1px dashed red;
    flex-basis: 30%;
    min-height: 300px;

}
/* CLIENTS */
/* COMPANY */
.company{
    margin: 0 -10px;
    display: flex;
    padding-bottom: 0;
}
.block{
    border: 1px dashed black;
    height: 400px;
    flex-basis: calc(100% / 3);
}
.side{
    display: flex;
    flex-wrap: wrap;
}
.square{
    background-color: pink;
    border: 1px dashed violet;
    flex-basis: 50%;
    height: 200px;
}
/* GRATIS TEST */
.gratis-test{
    height: 300px;
    background-color: rgb(180,208,231);
}
.gratis-test > .column{
    justify-content: space-between;
    align-items: center;

}
/* QUESTIONS */
.questions li{
    list-style-type: none;
    border-bottom: 1px solid grey;
    padding: 40px;
}
.questions ul{
    border-top: 1px solid grey;
}
/* FOOTER */
.foot{
    display: flex;
    justify-content: space-between;
    padding: 50px;
}
.foot > .foot-list{
    height: 350px;
    flex-basis: 20%;
    border: 1px dashed red;
}